header.initial-nav {
    position: absolute;
    top: 5%;
    width: 100%;
    z-index: 1000;
}

header.sticky-nav {
    display: none;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.initial-nav {
    background-color: #aab6a5;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 2vh;
    padding: 2% 5%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 30%;
    transition: max-height 0.3s ease-in-out;
}

nav a {
    position: relative;
    font-family: "Mulish", sans-serif;
    font-size: 8px;
    text-decoration: none;
    color: white;
    font-size: 12px;
    line-height: 23px;
    font-weight: 400;
    letter-spacing: .3em;
    text-transform: uppercase;
    display: inline-block; /* Required for pseudo-elements */
}
nav a:hover::before {
    transform: scaleX(1);
}

nav a.active::before {
    transform: scaleX(1); /* Ensure underline is visible for active links */
}

nav a:hover::after {
    width: 100%;
}

nav a.active::after {
    width: 100%; /* Ensure underline is visible for active links */
}

nav a::before {
    content: "";
    position: absolute;
    bottom: -5px; /* Adjust based on your design */
    left: 0;
    width: 100%;
    height: 2px; /* Thickness of the underline */
    background: rgba(255, 255, 255, 0.903); /* Light color for loading effect */
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease-in-out;
}

nav a:hover::before {
    transform: scaleX(1);
}

.menu-icon {
    display: none;
    font-size: 14px;
    cursor: pointer;
    color: white;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.nav-links.show {
    display: block;
    flex-direction: column;
    align-items: flex-end;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1001;
}

@media screen and (max-width: 1200px) {
    .menu-icon {
        display: block;
    }

    .nav-links {
        display: none;
    }

    .nav-links.show {
        display: flex;
    }

    .hero-text h1 {
        font-size: 2em;
        font-weight: 400;
        font-style: normal;
        letter-spacing: .5rem;
    }

    header.sticky-nav {
        display: none;
    }
}