@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #F4F0ED;
}

.center{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}


.carousel {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* Ensure dots stay at the bottom */
}


/* CARROUSEL IMAGE CSS */
.carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: scale(1.1); /* Slightly scale up for effect */
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

/* CARROUSEL IMAGE CSS LOGIC */
.carousel img.active {
    opacity: 1;
    transform: scale(1); /* Normal scale */
    z-index: 1; /* Bring the active image on top */
}

.carousel img.inactive {
    opacity: 0;
    transform: scale(1.1); /* Slightly scale up for effect */
    z-index: 0; /* Move the inactive image below */
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 1;
    opacity: 0;
    animation: fadeIn 1s ease-out; /* Add fadeIn animation */
}

.hero-text h1 {
    font-size: 4em;
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 1rem;
}

.hero-text p {
    font-size: 1.6em;
    font-family: "Cormorant Garamond", serif;
    font-weight: 200;
    font-style: italic;
}

.carousel-dots {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    gap: 44px;
    bottom: 50px;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: grey;
    transform: rotate(45deg);
    border-radius: 8%;
    border: 2px solid white;
    cursor: pointer;
}

.dot.active {
    background-color: white;
    border: 2px solid white;
}


@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.text_padding{
    padding: 2%;
    margin-top: 10%;
}

.h1_custom{
    color: #54595F;
    text-align: center;
    font-size: 2em;
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1rem;
    padding: .5%;
}

.p_custom{
    color: #7A7A7A;
    text-align: center;
    font-size: 1.5em;
    font-family: "Cormorant Garamond", serif;
    font-weight: 100;
    font-style: italic;
}

.gallery-container {
    display: flex;
    justify-content: center;
    padding: 40px 10px; /* Symmetric horizontal padding */
    padding-top: 80px;
    padding-bottom: 80px;
    margin: 0 auto; 
    max-width: 80vw; 
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px; 
    width: 100%; 
    place-content: center;
}

.gallery-item {
    position: relative;
    overflow: hidden;
    display: grid;
    place-items: center;
}

.gallery-item img {
    width: 100%;
    transition: transform 0.5s ease;
}

.gallery-item:hover img {
    transform: scale(.95);
}


.image-caption {
    color: #54595F;
    text-align: center;
    padding: 20px 0px;
    margin-bottom: 20px;
    font-size: 1.3em;
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative; 
    width: 100%;
    text-align: left;
    box-sizing: border-box;
}

@media screen and (max-width: 1200px) {

    .gallery-item img {
        width: 80%;
    }

    .h1_custom{
        font-size: 1.2em;
        font-weight: 400;
        letter-spacing: 2px;
        padding: .5%;
    }
    
    .p_custom{
        font-size: .8em;
    }

    .gallery {
        grid-template-columns: repeat(2, 1fr); 
    }
    
    .image-caption{
        text-align: center;
    }

    header {
        text-align: left;
        padding: 10px;
    }

    nav ul {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        align-items: flex-end;
        padding: 0% 5%;
    }

    nav ul li {
        margin: 5px 0;
    }
}

@media screen and (max-width: 600px) {
    .gallery {
        grid-template-columns: 1fr; 
    }
    .gallery-item img {
        width: 100%;
    }
}


.features{
    width: 100%;
    background-color: #757B66;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10% 10%;
}

.icon-custom {
    color: #ffffff; 
    font-size: 40px;
    margin-bottom: 15px;
}

@media screen and (min-width: 1200px) {
    .features{
        background-color: #757B66;
        flex-wrap: nowrap;
        align-items: center;
        padding: 0% 10%;
        height: 40vh;
    }
}


.feature h5{
    font-size: 1.8em;
    font-weight: 400;
    letter-spacing: 4;
    font-family: "Cormorant Garamond", serif;
    color: white;
    text-transform: uppercase;
}

.feature h6{
    font-size: 1.3em;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 4;
    font-family: "Cormorant Garamond", serif;
    color: white;
}

.feature p{
    font-size: 1em;
    font-weight: 200;
    font-family: "Mulish", sans-serif;
    color: white;
    padding-right: 7%;
    padding-bottom: 7%;
}

.h2_custom{
    color: #54595F;
    text-align: center;
    font-size: 1.2em;
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: .5rem;
    word-spacing: .2rem;
    padding: 2%;
    text-transform: uppercase;
}

@media screen and (max-width: 1200px ) {
    .h2_custom{
        color: #54595F;
        text-align: center;
        font-size: .8em;
    }
}

.carousel-review {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.review {
    min-width: 100%;
    display: none;
}

.review.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviews {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    align-items: center;
}

.reviews img {
    width: 50%; 
    object-fit: cover;
}

.review-content {
    width: 50%;
    padding: 0% 5%;
    background-color: #f0f0f0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 51vh;
}

.review-content h6.review-date {
    text-align: center;
    font-style: italic;
    margin-bottom: 15px; 
}

.review-date{
    font-family: "Cormorant Garamond", serif;
    font-size: 26px;
    color: #3c462f;
}

.review-content p {
    text-align: center;
    font-size: 22px;
    line-height: 1.5;
    font-weight: 200;
    font-family: "Cormorant Garamond", serif;
}


.review-content h6.review-names {
    font-size: 18px;
    text-align: center;
    margin-top: 20px; 
    font-weight: 400;
    font-family: "Mulish", sans-serif;
}

.carousel-review-inner {
    width: 75%;
    display: flex;
    transition: transform 0.5s ease-in-out;
    justify-content: center;
}

.review {
    display: none;
}

.review.active {
    display: flex;
}

.carousel-review-control-prev,
.carousel-review-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.carousel-review-control-prev {
    left: 10px;
}

.carousel-review-control-next {
    right: 10px;
}

.carousel-review-controls {
    position: absolute;
    bottom: 5%;
    right: 8%;
    display: flex;
    justify-content: space-evenly;
    font-family: "Cormorant Garamond", serif;
    color: #6b6b6b;
}

.carousel-review-controls {
    z-index: 2; /* Increase the z-index */
    width: 8vw;
}

.carousel-review-controls button {
    background: none;
    border: none;
    cursor: pointer;
    color: #6b6b6b;
}

.carousel-review-controls button:hover {
    color: #000;
}

.carousel-review-controls .review-counter {
    font-size: 18px;
    margin: 0 10px;
}

@media screen and (max-width: 1200px ) {
    .reviews img {
        width: 85vw;
        height: 34vh;
        object-fit: cover;
    }

    .review-content {
        width: 85vw;
        height: 32vh;
        padding: 0%;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    .review-content p{
        text-wrap: wrap;
        font-size: 16px;
        padding: 5%;
    }

    .carousel-review-controls {
        z-index: 2;
        width: 30vw;
    }
    
    .carousel-review-controls {
        position: absolute !important;
        bottom: 8% !important;
        right: 30% !important;
        display: flex !important;
        justify-content: center;
        font-family: "Cormorant Garamond", serif;
        color: #6b6b6b;
        font-size: 16px;
    }
    
}

/* Media query for screens smaller than 1200px */
@media (max-width: 1200px) {
    .reviews{
        flex-direction: column;
    }
}

