* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #aab6a5;
}

.center{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}